body{
    padding: 0;
    margin: 0;
}

#flip {
    padding: 10px;
    min-height: 30px;
    text-align: center;
    background-color: rgb(29, 131, 247);
    display: none;

   
}
#flip1 {
    padding: 10px;
    min-height: 30px;
    text-align: center;
    background-color: rgb(29, 131, 247);
   
}

#panel{
    width: 100%;
    min-height: 30px;
    background-color: rgb(29, 131, 247);
    
}

#panel ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    visibility: visible;
}

#panel ul li a{
    text-decoration: none;
    color: #fff;
    font-family: arial;
    text-align: center;
    padding: 10px;
    visibility: visible;
    display: inline-block;


}
/* ----------------container-------------------------- */

.container{
    width: 100%;
    height: 400px;
    margin: auto;
    background: #c3c3c3;
}


/* ----------------------end container----------------- */


@media screen and (max-width:500px){
    #flip {
        padding: 10px;
        text-align: center;
        background-color: rgb(29, 131, 247);
        border: solid 1px #c3c3c3;
        display: block;
    }
    #flip1 {
        display: none;
    }
    #flip span{
        width: 30px;
        border-bottom: solid 2px white;
        display: block;
        margin-top: 5px;
    }
    #flip-span{
        border: solid 1px white;
        padding: 5px 10px 10px;
        width: 35px;
        border-radius: 5px;
        cursor: pointer;
    }
    #flip-span:hover{
        background-color: rgb(5, 97, 202);
        border: solid 1px rgba(216, 218, 219, 0.4);
        transition: 1s;
    }

    #panel {   
        display: none;
        text-align: center;
        background-color: rgb(29, 131, 247);
        border: solid 1px #c3c3c3;
        padding: 0;
        margin: 0;
    }
    #panel ul{
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    #panel ul li a{
        text-decoration: none;
        color: white;
        font-family: arial;
        text-align: center;
        padding: 10px;
        display: block;
        border-bottom: solid 1px white;

    }
    #panel ul li a:hover{
        background-color: rgb(81, 161, 252);
    }
}
